@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #6F263D;
    text-align: center;
}

img.menu{
    width:4%;
}
select{
    font-family: 'RixInooAriDuriR';
    background-color: #f5f5dc;
    border: none;
    color: #6F263D;
    /* padding: 20px 20px; */
    /* padding: 10%;
    margin: 1%; */
    width: 13%;
    height: 80px;
    vertical-align: center;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
    font-size: 200%;
}
select#day{
    width: 20%;
}
header{
    height: 15%;
    margin: 5%;
    /* margin-bottom: 2%; */
    background-color: #6F263D;
    color: #f5f5dc;
    font-family: 'GangwonEduPowerExtraBoldA';
    /* font-family: 'RixInooAriDuriR'; */
}
#map {
    margin: 2.5%;
    width: 95%;
    height: 75%;
}
#sel{
    /* padding-top: 5%; */
    width: 100%;
    height: 30%;
}
#menu{
    width: 100%;
    height: 40%;
}
#name{
    width: 100%;
    height: 30%;
    font-size: 50px;
}

@media (min-width: 768px) {
    /* 데스크탑에 적용될 스타일 */
    #menu {
        display: inline-block;
        width: 30%;
        height: 100%;
    }
    #name {
        display: inline-block;
        width: 30%;
        height: 100%;
    }
    #sel {
        display: inline-block;
        width: 30%;
        height: 100%;
    }
    select{
        background-color: #f5f5dc;
        border: none;
        color: #6F263D;
        width: 20%;
        height: 80px;
        padding-left: 1%;
        vertical-align: center;
        text-align: center;
        text-decoration: none;
        border-radius: 50px;
        display: inline-block;
        cursor: pointer;
        font-size: 150%;
    }
    select#day{
        width: 30%;
    }
    img.menu{
        width:5%;
    }
    #map{
        margin: 2.5%;
        width: 95%;
        height: 70%;
    }
    header{
        height: 15%;
        margin: 0; 
        padding-top: 2.5%;
    }
  }